body, textarea, input {
    font: 12px monospace;
}

body {
    background: #eee;
}

input {
    width: 99%;
    margin: auto;
    display: block;
    height: 30px;
    font-size: 20px;
}

a {
    color: #88f;
}

.output, .input{
    border: 1px solid #aaa;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.output {
    padding: 5px 10px;
    margin: 10px;
}

.input{
    margin: .5% 10px;
}

.statusbar {
    padding: 3px 5px;
    background: #E8E8E8;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

.statusbar .copy {
    margin-left: 50px;
    display: none;
}
#clippy {
    position: relative;
    top: 2px;
    left: 0;
}

/* ace-editor requires to define styles by id (specificity) */
.editor#editor {
    width: 100%;
    height: 300px;
    position: relative;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}
#editor .ace_gutter {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

.output img.loader {
    margin-bottom: -4px;
}

.help {
    width: 33%;
    float: left;
    white-space: pre;
}

#save-snippet,
#try-this{
    width: 99%;
    display: block;
    margin: 4px 10px;
}